<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="secondary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="base-footer">
    <div class="linha-footer">
      <img id="imgLogo" src="../../assets/logoComDescricao.png">
    </div>
  </div>
  <ion-list>
    <ion-item>
      <ion-label>Usuario</ion-label>
      <ion-input [(ngModel)]="nomeConsumidor" disabled="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-input [(ngModel)]="email" disabled="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Celular</ion-label>
      <ion-input [(ngModel)]="celular" disabled="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Data Nascimento</ion-label>
      <ion-input style="padding-left: 10px;"  disabled="true" (click)="selecionarDataNascimento()"
      [(ngModel)]="dataNascimento" ></ion-input>
    </ion-item>
  </ion-list>
</ion-content>