<ion-header>
  <ion-toolbar class="toolbar-home">
    <ion-buttons slot="start">
      <ion-back-button title="Voltar" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <!-- <ion-img slot="start" src="/assets/logoApp.png" slot="start"></ion-img> -->
    <ion-title>
      {{nomeEstabelecimento}}
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding *ngIf="loading">
    <ion-row no-padding>
      <ion-col>
        <p style="font-size: 3vh;">
          <ion-button (click)="abrirInfoEstabelecimento()" color="light">
            <ion-icon name="add" size="normal"></ion-icon>Info
          </ion-button>
        </p>
      </ion-col>
      <ion-col size="2">
        <ion-thumbnail><img [src]="urlLogoEstabelecimento">
        </ion-thumbnail>
      </ion-col>
      <ion-col style="text-align: right;">
        <p>
          <ion-icon name="star-half"></ion-icon>4,0 (120)
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-searchbar placeholder="Pesquisar produtos" (ionChange)="changeSearchBar($event)"></ion-searchbar>
  <!-- <ion-list>
    <ion-item *ngFor="let produto of produtos" (click)="goTo(produto.id)">
      <ion-list lines="none">
        <div class="estiloProduto">{{produto.nome}}</div>
        <div style="color:red">{{produto.descricao}}</div>
        <div style="font-weight:700; padding: .3em; padding-left: 0;">R$ {{produto.preco}}</div>
      </ion-list>
      <ion-thumbnail slot="end">
        <ion-img [src]="produto.imageURL"></ion-img>
      </ion-thumbnail>
    </ion-item>
  </ion-list> -->
  <ion-list *ngIf="secoesEstabelecimento.length > 0">
    <ion-list *ngFor="let secao of secoesEstabelecimento">
      <ion-item-divider style="--background	: #ff4d4d;" *ngIf="secao.produtos.length > 0">
      <ion-label style="padding-left: 15px; font-size: 28px; font-weight: bold; color: #ffffff">{{secao.descricao}}</ion-label>
    </ion-item-divider>

    <ng-container *ngFor="let produto of secao.produtos">
      <ion-item  (click)="goTo(produto.id)">
          <ion-list lines="none">
              <div class="estiloProduto">{{produto.nome}}</div>
              <div style="color:red">{{produto.descricao}}</div>
              <div style="font-weight:700; padding: .3em; padding-left: 0;">R$ {{produto.preco}}</div>
            </ion-list>
            <ion-thumbnail slot="end">
              <ion-img [src]="produto.foto"></ion-img>
            </ion-thumbnail>
      </ion-item>
    </ng-container>
    </ion-list>
  </ion-list>

</ion-content>
<ion-footer>
  <app-sacola-pedido *ngIf="valorPedido > 0" [ValorTotalPedido]="valorPedido"></app-sacola-pedido>
</ion-footer>