.toolbar-home ion-img {
    max-height: 3vh;
    max-width: 3vh;
    overflow: hidden;
  }

.gridProduto{
    padding-top: .5em;
    padding-bottom: .5em;
    background: #cfe0f3;
    background-clip: padding-box;
    border: 1px solid transparent;
    color: #454b50;
}

.estiloTeste {
  padding: 0;
  margin: 0;
  --inner-padding-end: 0px;
  --padding-start:0px;
}