<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Produto
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="gridPageProduto">

    <ion-row>
      <ion-col>
        <div class="titulo-produto">
          <p>{{product.nome}}</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="imagem-produto">
          <div>
              <ion-img id="imgProduto" [src]="product.foto"></ion-img>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col no-padding>
        <div class="valor-produto">
          <p> {{product.preco | currency:'BRL' }}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="descricao-produto">
            <ion-label id="lblDescricao" position="stacked">{{product.descricao}}</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
          <div class="observacao-produto">
            <ion-item>
            <ion-label style="color:black;" position="stacked">Observação</ion-label>
            <ion-textarea spellcheck="true" type="text" [(ngModel)]="observacao"></ion-textarea>
          </ion-item>
          </div>
        </ion-col>
      </ion-row>
<ion-row class="rodape">
  <ion-col size="2">
      <ion-button (click)="removerQtd()" [disabled]="qtdItem < 2" color="light">
          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
        </ion-button>
  </ion-col>
  <ion-col size="2">
    <div id="DivQtd">
        <ion-label class="qtdItem">{{qtdItem}}</ion-label>
    </div>
  </ion-col>
  <ion-col size="2">
      <ion-button (click)="addQtd()" color="light">
          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        </ion-button>
  </ion-col>
  <ion-col>
    <ion-button color="danger" (click)="adicionarItem()">Adicionar Item</ion-button>
</ion-col>
</ion-row>
  </ion-grid>
</ion-content>