$white-color: #fff;
$height100: 100%;

ion-grid {
    width:100%;
    height: $height100;
    background: #dfdfdf;
}

ion-row {
    height: $height100;
}

ion-col {
    border: 1px solid #488aff;
    background: $white-color;
}

ion-button {
    font-weight: 300;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: $white-color;
    }
    ion-col {
        border: none;
    }
}

#imgLogo {
    width:100%;
    padding-left: 35%;
    padding-right: 35%;
    height:100px;
}

#card-login-manual{
    background-color: #fff;
    border-radius: 10px; 
    margin: 15px;
    -webkit-box-shadow: 1px 2px 4px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    1px 2px 4px rgba(50, 50, 50, 0.77);
    box-shadow:         1px 2px 4px rgba(50, 50, 50, 0.77);
}

