<ion-header>
	<ion-toolbar>
		<ion-title>Identifique-se</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row justify-content-center>
			<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

				<ion-item align-self-center size-md="4" size-lg="4" size-xs="8">
					<div>
						<img src="../../assets/logoComDescricao.png">
					</div>
				</ion-item>

				<div no-padding>
					<ion-item>
						<ion-input type="text" placeholder="Usuário" [(ngModel)]="username"></ion-input>
					</ion-item>
					<ion-item>
						<ion-input type="password" placeholder="Senha" [(ngModel)]="password"></ion-input>
					</ion-item>
				</div>
				<div no-padding>
					<p>Se não possuir cadastro <a href="/cadastro">clique aqui.</a></p>
				</div>
				<div no-padding>
					<ion-button size="large" expand="block" (click)="login()">Login</ion-button>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>