<ion-header translucent="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pedido</ion-title>
    <ion-buttons slot="secondary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="gridPageProduto">
    <ion-row>
      <ion-col>
        <div class="descricao-estabelecimento">
          <ion-label style="color: #cc0000;">Seu pedido em:</ion-label>
          <div class="logoEstabelecimento">
            <div>
              <ion-img id="imgLogoEstabelecimento" [src]="urlEstabelecimento"></ion-img>
            </div>
          </div>
          <div>
            <ion-label style="color:black; font-weight: bold;" id="lblNomeEstabelecimento">{{nomeEstabelecimento}}
            </ion-label>
          </div>
          <div class="linha-footer">
            <div class="preencher center">
              <ion-label style="color:#cc0000; font-weight: bold;">Comanda:</ion-label>
              <ion-label>{{' ' + numComanda}}</ion-label>
            </div>
            <div class="preencher center">
              <ion-label style="color:#cc0000; font-weight: bold;">Mesa:</ion-label>
              <ion-label>{{' ' + codigoMesa}}</ion-label>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div id="DivSeparador"></div>
      </ion-col>
    </ion-row>
    <ion-row class="LinhaDetalhe" *ngFor="let itensProductSource of itensProductSource">
      <ion-col size="11">
        <ion-list lines="none">
          <ion-item no-padding>
            <ion-list lines="none">
              <div class="regiao-base">
                <div class="linha-footer">
                  <div class="align-esquerda titulo-medio preencher">
                    {{itensProductSource.quantidade > 1 ? (itensProductSource.quantidade.toString() + 'x ' + itensProductSource.produto.nome)  : itensProductSource.produto.nome}}
                  </div>
                </div>
              </div>
              <div class="descricao-produto">{{itensProductSource.produto.descricao}}</div>
              <div class="valor-produto">{{itensProductSource.preco | currency:'BRL' }}</div>
            </ion-list>
            <ion-thumbnail slot="end">
              <ion-img [src]="itensProductSource.produto.foto"></ion-img>
            </ion-thumbnail>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="1" (click)="abrirPopover(itensProductSource.id)">
        <div class="preencher">
          <ion-icon id="more" name="more" slot="end"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <div id="base-footer">
    <div class="linha-footer">
      <div class="align-esquerda preencher" style="padding: 1px 5px 0px; font:bold;color:black;">
        <h3>Total: {{totalPedido | currency:'BRL' }}</h3>
      </div>
      <div class="align-direita preencher">
        <ion-button color="light" slot="end" (click)="cancelarClick()">
          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        </ion-button>
      </div>

    </div>
    <div class="linha-footer">
      <div class="align-esquerda preencher">
        <ion-button slot="start" color="light" (click)="cancelarClick()" expand="block">Cancelar</ion-button>
      </div>
      <div class="align-direita preencher">
        <ion-button slot="end" color="dark" (click)="fecharComanda()" expand="block">Fechar comanda</ion-button>
      </div>
    </div>
    <div class="linha-footer">
        <div class="align-direita preencher">
          <ion-button slot="end" color="danger" (click)="realizarPedido()" expand="block">Realizar pedido</ion-button>
        </div>
    </div>
  </div>
</ion-footer>