<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button title="Voltar" defaultHref="buscar-mesa"></ion-back-button>
    </ion-buttons>
    <ion-title>Abrir comanda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-progress-bar value="0.95"></ion-progress-bar>
  <div id="base-content">
    <div class="linha-content">
      <div class="imagem-estabelecimento">
        <div>
          <ion-img id="imgLogoEstabelecimento" [src]="urlLogoEstabelecimento">
          </ion-img>
        </div>
      </div>

    </div>
    <div class="linha-content" style="text-align:center;">
      <div style="width:100%; font: bold;">
        <h3>{{nomeEstabelecimento}}</h3>
      </div>
    </div>
    <div class="linha-content">
      <ion-text>
        <h5>Estou no estabelecimento indicado</h5>
        <ion-label style="color:#cc0000; font-weight: bold;">Mesa:</ion-label>
        <ion-label style="color: black; font-size: bold; font-weight: bold;">{{' ' + codigoMesa}}</ion-label>
      </ion-text>
    </div>
    <div>
      <p></p>
    </div>
    <div class="linha-content">
      <div class="align-esquerda preencher">
        <ion-button slot="start" color="danger" (click)="confirmarEstabelecimento()" expand="block">Solicitar Comanda
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>