<ion-header>
  <ion-toolbar>
    <ion-button color="light" slot="start" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>VIRTUAL WAITER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="base-content">
    <div class="linha-content">
      <div class="imagem-estabelecimento">
        <div>
          <ion-img id="imgLogoEstabelecimento" src="http://store.atendup.com.br/icones/mini/APP_ICON_2.png">
          </ion-img>
        </div>
      </div>

    </div>
    <div class="linha-content" style="text-align:center;">
      <div style="width:100%; font: bold;">
          <h3>Wiki Donalds</h3>
      </div>
    </div>
    <div class="linha-content">
        <ion-text>
            <h5>Conectados e gostosos assim é nossa relação com nossos clientes! Fazemos de tudo pra vocês se sentirem cada vez mais em casa.</h5>
        </ion-text>
    </div>
    <div class="linha-content">
      <div class="align-esquerda preencher">
        <ion-button slot="start" color="light" (click)="dismiss()" expand="block">Voltar</ion-button>
      </div>
    </div>
  </div>
</ion-content>