<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/logoApp.png"></ion-img>
      <ion-card-header>
        <ion-card-title>VIRTUAL WAITER</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>O projeto que irá revolucionar a forma como os restaurantes funcionam.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
        
        <ion-item>
            <ion-avatar slot="start">
              <img src="https://is4-ssl.mzstatic.com/image/thumb/Purple71/v4/b6/36/b8/b636b8a0-641a-4a27-b186-a83417934100/source/256x256bb.jpg">
            </ion-avatar>
            <ion-label>Chef Fantoni</ion-label>
          </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://pbs.twimg.com/profile_images/606243231060234241/fdRzACcc_400x400.jpg">
          </ion-avatar>
          <ion-label>Wic Donalds</ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
              <img src="https://images.vexels.com/media/users/3/161682/isolated/lists/69055c5a5d39a71b0b2fb372b2ed648c-girafa-vista-traseira-plana.png">
            </ion-avatar>
            <ion-label>Melman's Burguer</ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://cdn6.aptoide.com/imgs/8/5/9/85933c50ebd20fa330152211c95aa909_icon.png?w=256">
            </ion-avatar>
            <ion-label>Burguer King</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
