<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/logoApp.png"></ion-img>
      <ion-card-header>
        <ion-card-title>VIRTUAL WAITER</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>O projeto que irá revolucionar a forma como os restaurantes funcionam.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Saiba mais</ion-label>
      </ion-list-header>
      <ion-item href="https://github.com/ego-t/VirtualWaiterApp">
        <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
        <ion-label>GitHub do projeto</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
