<ion-header>
  <ion-toolbar class="toolbar-home">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      VIRTUAL WAITER
    </ion-title>
    <ion-img slot="secondary" src="/assets/logoApp.png" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content style="background: none transparent;">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Estabelecimentos</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let establishment of estabelecimentos" (click)="goTo(establishment.id)" >
      <ion-thumbnail slot="start">
        <ion-img [src]="establishment.logo"></ion-img>
      </ion-thumbnail>
      <div class="item-note" style="text-align: left;">
        {{establishment.nome}}
      </div>
    </ion-item>
  </ion-list>
  <!-- <app-lista-estabelecimento [estabelecimentos]="estabelecimentos"></app-lista-estabelecimento> -->
</ion-content>